// @use '../abstracts/variables' as *;
@use '../abstracts' as *;

html{
    font-size: 62.5%;
    @include respond ($tab-land){
        font-size: 56.25%; // if 1em = 9px, 9/16
    }

    @include respond ($tab-port){
        font-size: 50%; //if 1em = 8px , 8/16
    }

    @include respond ($phone){
        font-size: 50%; //if 1em = 8px , 8/16
    }
   
    @include respond ($big-desk){
        font-size: 75%; //if 1em = 12px , 12/16
    }
}
body{
    font-family: 'Lato', 'sans-serif';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-secondary{
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .4s;
    font-size: 3.5rem;
    @include respond ($tab-port){
        font-size: 3rem; //if 1em = 8px , 8/16
    }

    @include respond ($phone){
        font-size: 2.5rem; //if 1em = 8px , 8/16
    }
    &:hover{
        //scale: 1.1;
        transform: skewX(7deg) skewY(2deg) scale(1.1);
        text-shadow:.2rem 1rem 2rem rgba(black,0.4);
    }

}

.para-heading{
    text-transform: uppercase;
    font-size: 1.4rem;
}

