.u-center-text{
    text-align: center;
}

.u-botttom-large{
    margin-bottom: 5rem;
}

.u-bottom-mid{
    margin-bottom: 2rem;
}

.u-bottom-small{
    margin-bottom: .5rem;
}


//increase icon size
.u-icon-size-6{
    font-size: 6rem;
}
