.u-center-text{
    text-align: center;
}

.u-botttom-large{
    margin-bottom: 5rem;
}

.u-bottom-mid{
    margin-bottom: 2rem;
}

.u-bottom-small{
    margin-bottom: .5rem;
}

.u-top-large{
    margin-top: 10rem;
}
 

//padding increase-decrease
.u-padding-bottom-mid{
    padding-bottom: 3rem;
}

.u-padding-bottom-large{
    padding-bottom: 6rem;
}

//increase icon size
.u-icon-size-6{
    font-size: 6rem;
}
