@use '../abstracts/variables' as *;


@mixin clearfix {
    content: "";
    display: block;
    clear: both;
    
}

//media queries mixin

@mixin respond( $breakpoint ){

    @if $breakpoint < 1800 {
        @media ( max-width: $breakpoint){
            @content
        }
    }
    @if $breakpoint >= 1800 {
        @media ( min-width: $breakpoint){
            @content
        }
    }
    
}

