$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;


$color-secondary-light:#d5bf6f;
$color-secondary-dark:#e31f40d6;


$color-tertiary-light:#7cd9d6;
$color-tertiary-dark:#279bb2;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;

//abstract/grid
$grid-white: #eee;
$grid-width: 110rem;
$gutter-vertical: 3rem;
$gutter-horizontal:5.5rem;

//pages/home
$section-grey-light-1:#f7f7f7;
