*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
    font-size: 62.5%;
  }
  
  body{
    box-sizing: border-box;
    position: relative;
  }

  .pic-box{
    position: absolute;
    background-color: pink;
    top:10vh;
    left:10%;
    
  }

  .pic-box::after{
    content: 'test';    
    position: absolute;
    height: 100%;
    width:100%;
    top:0%;
    background-color: gray;
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .pic-box:hover::after{
    opacity: 0.5;
  }

  .pic-box__pic{
    display: block;
  }

  .pic-box__hdr{
    font-size: 5rem;
    color: rgb(89, 220, 69);
    position: absolute;
    top:50%;
    left: 10%;
  }

  .pic-box__hdr-1{
    font-weight: 100;
    color: grey;
  }
  .pic-box__hdr-1{
    font-weight: bolder;
  }

  

  