@use '../abstracts/variables' as *;

.navigation{
    &__checkbox{
        display: none;

    }
    &__button{
        background-color: white;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        position: fixed;
        top:5.6rem;
        right: 5.6rem;
        z-index: 400;
        text-align: center;
       
    }
    &__bg{
        position: fixed;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 200;
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        top: 5.8rem;
        right: 5.8rem;
        //transform: scale(50);
        transition: transform 0.8s;
    }
    &__nav{
        height: 100vh;
        //width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 300;
        opacity: 0;
        width: 0;
        transition: all .8s;
    }
    &__list{
        list-style: none;
        counter-reset: section;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
    }
    &__item{
        margin: 1rem;     
    }
    &__link{
        &::before{
            counter-increment: section;
            content: "0" counter(section) ".";
            margin-right: 1rem;
        }
        &:link,
        &:visited{
            text-decoration: none;
            text-align: center;
            font-size: 3rem;
            font-weight: 300;
            color:white ;
            text-transform: uppercase;
            display: inline-block;
            text-align: center;
            padding: 1rem 2rem;
            background-image: linear-gradient(120deg,
            transparent 0%,
            transparent 49.9%,
            white 50%);
            background-size: 225%;
            transition: all 0.6s;
            
            
        }
        &:hover,
        &:active{
            color: $color-grey-dark;
            background-position: 100%;
        }
    }

    &__checkbox:checked ~ &__bg{
        transform: scale(50);
    }
    &__checkbox:checked ~ &__nav{
        width: 100%;
        opacity: 1;
    }
    &__cross{
        position: relative;
        margin-top: 3.5rem;
        &::before,
        &,
        &::after{
            text-align: center;
            display: inline-block;
            width: 4rem;
            height: 2px;
            background-color: brown;   
            transition: all .5s;          
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
        }
        &::before{
            top: -.8rem;

        }
        &::after {
            top: .8rem;
        } 
                
    }
    &__button:hover &__cross::before   {
        top: -1rem;
    }
    &__button:hover &__cross::after   {
        top: 1rem;
    }
    &__checkbox:checked ~ &__button &__cross{
        background-color: transparent;
    } 
    
    &__checkbox:checked ~ &__button &__cross::before{
        opacity: 1;
        transform: rotate(135deg);
        top: -.1rem;
        
    }
    &__checkbox:checked ~ &__button &__cross::after{
        opacity: 1;
        transform: rotate(-135deg);
        top: .1rem
    }
}