@use '../base/animation' as *;
@use '../abstracts/' as *;

.header-primary{
    color: $color-white;
    margin-bottom: 6rem;
    @include respond ($tab-port){
        margin-bottom: 4rem;
    }
    @include respond ($phone){
        margin-bottom: 3rem;
    }


    &--main{
        display:block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 20px;
        animation: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: move-in;
        @include respond ($tab-port){
            font-size: 4rem;
        }
        @include respond ($phone){
            font-size: 3rem;
        }
    }
    
    &--sub{
        display:block;
        font-size: 1.7rem;
        font-weight: 700;
        letter-spacing: 7.7px;
        animation: moveInRight;
        animation-duration: 1s;
        animation-timing-function: move-in;
        @include respond ($tab-port){
            font-size: 1.2rem;
        }
       
    }
    
}