@use '../abstracts/variables' as *;

.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba( black , .25);
    margin-bottom: 6rem;
    background-color: white;
    border-radius: 3px;
    padding: 6rem;
    font-size: 1.6rem;
    transform: skew(-12deg);
    &>*{
        transform: skew(12deg);
    }
    &__fig{
        width: 15rem;
        height: 15rem;
        background-color: orangered;
        float: left;
        -webkit-shape-outside : circle( 50% at 50% 50%);
        shape-outside : circle( 50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skew(12deg);
    }
    &__img{
        height: 100%;
        transform: translateX(-15%);
    }
}